@import "tailwindcss";

@layer base {
  :root {
    --background: #0f172a; /* slate-900 */
    --foreground: #f8fafc; /* slate-50 */
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
}
